.All_product_data{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    max-width: 90%;
    gap: 20px;
    flex-wrap: wrap;
}
.All_product_data_child{
    width: 230px;
    height: 370px;
    padding: 8px;
   box-shadow: 0 0px 0px 1px rgba(0, 0, 0, .5);
   cursor: pointer;
   position: relative;
}
.All_product_data_child:hover{
    transform: translateY(10px);
    transition: transform .2s linear;
}
.All_product_data_image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.All_product_data_image img{
    width: 170px;
    height: 170px;
    object-fit: contain;
    margin-bottom: 15px;
    padding: 7px;
}
.All_product_data_content h2{
    margin-top: 10px;
    font-weight: 600;
    color: black;
}
.shop_name{
    margin: 5px 0px;
    color:#332AC8;
    cursor: pointer;
}
.All_product_data_price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    font-weight: bold;
}
.All_product_data_price .line_price{
    color: gray;
    font-weight: 500;
    position: relative;

}
.All_product_data_price .line_price::before{
   content:  " ";
   position: absolute;
   left: 0;
   top: 13px;
   background-color: red;
   height: 2px;
   width: 100%;
   z-index: 1;
}

.price_all{
    display: flex;
}
.price_all p{
    margin-left: 10px;
}
.sold{
     color: rgb(104 210 132);
}
.All_product_data_icon{
    position: absolute;
    top: 10px;
    right: 5px;
}
.All_product_data_icon svg{
    font-size: 23px;
    margin-top: 10px;
}
.All_product_data_icon svg:hover{
    color: red;
}


@media(max-width : 955px){
    .All_product_data_child{
        width: 250px;
    }
}