
.cart{
    position: fixed;
    top: 0;
    right: 0;
    width: 350px;
    height: 100vh;
    overflow: auto;
    background-color: whitesmoke;
    z-index: 999;
    color: black;
    padding: 10px 6px;
    box-shadow: 10px 10px 30px 30px rgba(0, 0, 0, .7);
}
.cart .items_cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items_cart p{
    font-weight: bold;
    font-size: 18px;
}
.items_cart svg{
    font-size: 23px;
    cursor: pointer;
}
.cart_box{
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
    position: relative;
}
.cart_box_buttons{
    display: flex;
    flex-direction: column;
}
.cart_box .cart_box_buttons button{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: black;
    color: white;
    line-height: 10px;
    margin: 3px 0px;
    
}
.cart .cart_box_buttons span{
    margin-left: 5px;
}
.cart_content{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* align-items: center; */
}
.cart_content img{
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin-left: 30px;
    background-color: transparent;
}
.cart_content p {
    margin-top: 5px;
}
.checkout{
    padding: 15px 30px;
    cursor: pointer;    
    background-color: black;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    width: 100%;
    position: fixed;
    bottom: 0;
    width: 350px;
    right: 0px;
    margin-bottom: 0px;
    border: 2px solid gray;
}
.remove{
    position: absolute;
    top: 50px;
    right: 10px;
    cursor: pointer;
}


@media(max-width : 350px){
    .cart{
        width: 100%;
    }
}