.Hero{
    width: 100%;
    position: relative;
    height: 80.2vh;
    /* background-color: rgba(0, 0, 0,0.1); */
    display: flex;
    align-items: center;
}
.Hero::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("https://images.pexels.com/photos/5650023/pexels-photo-5650023.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2")no-repeat center center/cover;
    z-index: -1;
    /* background-color: rgba(0, 0, 0,0.5);  */
    opacity: .4;
}
.home_content{
    max-width: 700px;
    margin-left: 50px;
}
.home_content h1{
    color: #112A45;
    font-size: 40px;
    font-weight: bold;
    max-width: 430px;
}
.home_content p{
    color: #112A45;
    margin: 0px 0px;
}
.home_content button{
    margin-top: 10px;
    background-color: #112A45;
    padding: 6px 30px;
    cursor: pointer;
    color: white;
}


@media(max-width : 800px){
    .home_content{
        max-width: 600px;
        margin-left: 10px;
    }
    .home_content h1{
        font-size: 30px;
    }
    .home_content p{
        font-size: 13px;
        max-width: 500px;
    }
    .Hero{
        align-items: center;
    }
}

@media(max-width : 500px){
    .home_content{
        max-width: 400px;
        margin-left: 10px;
        margin-top: 60px;
    }
    .home_content h1{
        font-size: 25px;
        margin-bottom: 10px;
    }
    .home_content p{
        font-size: 14px;
        max-width: 400px;
    }
    .Hero{
        align-items: flex-start;
        height: 60vh;
    }
    .home_content button{
        padding: 5px 20px;
    }
}