.sidebar{
    width: 200px;
    background-color: white;
    height: 100vh;
    z-index: 687685;
}
.profile{
    display: grid;
    grid-template-columns: .3fr 1fr;
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: whitesmoke;
    z-index: 10009;
}
.profile input{
    padding: 6px 10px;
}
.profile ul {
    padding: 10px;
}
.profile ul li{
    padding: 6px 10px;
    margin: 10px 0px;
    cursor: pointer;
}

/* ----------------- sidebar  */
.sidebar ul li:hover{
    color: red;
}
.sidebar svg{
    display: none;
}

/* ------------------ profilecontent  */
.profilecontent .burger{
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 23px;
    cursor: pointer;
    display: none;
    /* z-index: -1; */
}
.profilecontent{
    z-index: -1;
}

.burger:hover{
    color: red;
}



@media(max-width : 800px){
    .profile{
        grid-template-columns: .3fr 1fr;
    }
    .profilecontent{
        padding-left: 50px;
    }
}
@media(max-width : 600px){
   
    .profilecontent{
        padding-left: 70px;
    }
}
@media(max-width : 500px){
    .profile{
        grid-template-columns: 1fr;
    }
    .profilecontent{
        padding-left: 0;
    }
    .sidebar{
        position: absolute;
        top: 0;
        left: 0;
        width: 250px;
        height: 100vh;
        
        transform: translateX(-100%);
        transition:transform .2s linear ;
        background-color: white;
    }
    .sidebar_mob{
        transform: translateX(0);
        transition:transform .2s linear ;
        z-index: 99987868765765;
    }
    .sidebar svg{
        display: block;
        font-size: 25px;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 10px;
        cursor: pointer;
    }
    .sidebar svg:hover{
        color: red;
    }
     .profilecontent .burger{
        display: block;
    }
}