.sidebar{
    width: 200px;
    background-color: white;
    height: 100vh;
}
.profile{
    display: grid;
    grid-template-columns: .3fr 1fr;
}
.profile input{
    padding: 6px 10px;
}
.profile ul {
    padding: 10px;
}
.profile ul li{
    padding: 6px 10px;
    margin: 10px 0px;
    cursor: pointer;
}