.timer{
    display: flex;
    margin: 10px 0px;
    justify-content: center;
    align-items: center;
}
.timer p{
    border: 1px solid gray;
    margin: 2px 6px;
    padding: 7px;
    font-weight: bold;
}
.timer_parent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.t_show{
    font-weight: bold;
}
.Event{
    border: 1px solid gray;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}